<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> Naomi Crawford Architect </title>
  <meta name="description" content="Architect in Kingston upon Thames">
  <meta name="keywords" content="Naomi Crawford, Architect, Canbury, Kingston upon Thames, Extension, Renovation, Planning permission">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#000" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154984618-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-154984618-1');
  </script>
